In [4]:
import pandas as pd

data = pd.read_csv('../data/ILI/ILI_region_feature_2020-2024.csv')

In [5]:
data

      REGION TYPE     REGION  YEAR  WEEK  ILITOTAL
0     HHS Regions   Region 1  2020    40       984
1     HHS Regions   Region 2  2020    40      1589
2     HHS Regions   Region 3  2020    40      1917
3     HHS Regions   Region 4  2020    40      5853
4     HHS Regions   Region 5  2020    40      1610
...           ...        ...   ...   ...       ...
2125  HHS Regions   Region 6  2024    43      3184
2126  HHS Regions   Region 7  2024    43       825
2127  HHS Regions   Region 8  2024    43      1378
2128  HHS Regions   Region 9  2024    43      9976
2129  HHS Regions  Region 10  2024    43      2194

[2130 rows x 5 columns]

In [6]:

# Pivot the data to have each Region as a column with ILITOTAL values for each week without cumulative sum
weekly_data = data.pivot_table(values="ILITOTAL", index=["YEAR", "WEEK"], columns="REGION", aggfunc="sum")

# Fill NaN values with 0 (assuming missing values mean no cases reported)
weekly_data = weekly_data.fillna(0)

# Reset index to flatten the DataFrame
weekly_data = weekly_data.reset_index()

In [7]:
weekly_data

REGION,YEAR,WEEK,Region 1,Region 10,Region 2,Region 3,Region 4,Region 5,Region 6,Region 7,Region 8,Region 9
0,2020,40,984,750,1589,1917,5853,1610,1819,620,649,675
1,2020,41,1162,849,1706,2441,7045,1911,1566,731,834,899
2,2020,42,1017,697,1484,1958,6658,1730,1554,574,707,856
3,2020,43,1079,730,1623,2088,6998,1793,1544,615,776,887
4,2020,44,1171,752,1558,2154,6535,2148,1705,686,897,948
...,...,...,...,...,...,...,...,...,...,...,...,...
208,2024,39,2411,1164,7197,5040,13346,4810,2613,671,1188,8377
209,2024,40,2572,1504,7383,5282,13736,5437,3007,792,1207,9050
210,2024,41,2645,1686,7961,5840,13127,6141,3019,892,1334,9188
211,2024,42,3004,1786,7837,6412,13545,6434,2980,834,1183,9313
212,2024,43,3269,2194,8412,6753,15631,6893,3184,825,1378,9976

In [8]:
weekly_data.to_csv('ILI_region_feature_2020-2024_.csv')

In [ ]:

# Display the resulting DataFrame to the user
tools.display_dataframe_to_user(name="Weekly ILITOTAL by Region", dataframe=weekly_data)