In [1]:
import pandas as pd

data = pd.read_csv('./ILI_states_feature_2020-2024.csv')

In [2]:
data

                                             REGION  YEAR  WEEK ILITOTAL
0                                           Alabama  2020    40      408
1                                            Alaska  2020    40       54
2                                           Arizona  2020    40      107
3                                          Arkansas  2020    40      180
4                                        California  2020    40      488
...                                             ...   ...   ...      ...
12300                                       Wyoming  2025     2       59
12301  Commonwealth of the Northern Mariana Islands  2025     2        X
12302                                   Puerto Rico  2025     2      139
12303                                Virgin Islands  2025     2       47
12304                                 New York City  2025     2    13054

[12305 rows x 4 columns]

In [3]:

# Pivot the data to have each Region as a column with ILITOTAL values for each week without cumulative sum
weekly_data = data.pivot_table(values="ILITOTAL", index=["YEAR", "WEEK"], columns="REGION", aggfunc="sum")

# Fill NaN values with 0 (assuming missing values mean no cases reported)
weekly_data = weekly_data.fillna(0)

# Reset index to flatten the DataFrame
weekly_data = weekly_data.reset_index()

In [4]:
weekly_data

REGION,YEAR,WEEK,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Commonwealth of the Northern Mariana Islands,Connecticut,...,Tennessee,Texas,Utah,Vermont,Virgin Islands,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,2020,40,408,54,107,180,488,226,X,407,...,430,565,190,29,0,817,112,168,166,34
1,2020,41,435,24,160,189,676,342,X,466,...,453,751,266,31,0,977,140,350,205,24
2,2020,42,464,27,140,171,650,297,X,470,...,437,745,199,30,0,814,88,115,179,25
3,2020,43,500,30,130,204,642,326,X,476,...,480,614,240,42,0,863,96,119,177,24
4,2020,44,404,25,125,170,729,409,X,549,...,428,720,241,31,4,802,137,186,186,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,2024,50,2214,150,3325,392,15731,1852,X,1164,...,1918,2124,461,0,21,4874,3174,211,624,25
220,2024,51,3544,232,4513,578,20248,2694,X,1364,...,2758,2454,660,0,8,5760,4841,196,726,65
221,2024,52,4375,240,5446,643,22744,3538,X,1624,...,3976,2946,888,0,31,6867,6004,230,914,73
222,2025,1,3608,225,5391,512,22335,3582,X,2164,...,3272,2344,844,0,27,7115,5614,242,959,76
223,2025,2,2366,156,4114,352,21306,3186,X,1991,...,2044,2566,670,0,47,4972,4927,161,919,59

In [5]:
weekly_data.to_csv('ILI_states_feature_2020-2024.csv')

In [ ]:

# Display the resulting DataFrame to the user
tools.display_dataframe_to_user(name="Weekly ILITOTAL by Region", dataframe=weekly_data)